*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button{
    color: #fff !important;
}

footer ul li h5{
    color:#dfe9ec;
}

footer ul li a,
.box-bottom-copy a{
    color: #59798d;
}

footer ul li a:hover,
.box-bottom-copy a:hover{
    color:#fff;
    text-decoration: none;
}

.mio{
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.849);
    color: #fff;
}

.pippo li{
    margin-right: 10px;
}

#search nav{
    border-bottom: 3px solid #fff;
}
